// Use workflow.runName unless user specifies --run_name
params.outdir       = "results/run_${new Date().format('yyyyMMdd_HHmmss')}"
params.bobaseq_json = "$projectDir/../shared/defaults/bobaseq_config.json"
params.oligo_path   = "$projectDir/../shared/defaults/oligos.fasta"

// Default container engine
docker.enabled = true

// Set default output folder naming per process using the run name
process {
    withName:downloadNcbiAssembly { container = 'ncbi-download' }
    withName:simulatePacBioReads { container = 'pbsim' }
    withName:runPbccs { container = 'pbccs' }
    withName:multiCodes { container = 'multicodes' }

    withName:designLibrary {
        publishDir = [
            path: "${params.outdir}/simulation", mode: 'copy',
            saveAs: { filename -> filename == 'log.txt' ? 'log-simulate-library.txt' : null }
        ]
        container = 'py-simulate'
    }

    withName:simulateReads {
        publishDir = [
            path: "${params.outdir}/simulation", pattern: '*.t*', mode: 'copy',
            saveAs: { filename -> filename == 'log.txt' ? 'log-simulate-reads.txt' : filename }
        ]
        container = 'py-simulate'
    }

    withName:bobaseqMap {
        publishDir = [path: "${params.outdir}", pattern: 'library', mode: 'copy']
        container = 'bobaseq'
    }

    withName:bobaseqFitness {
        publishDir = [path: "${params.outdir}/fitness", pattern: 'top_proteins.tsv', mode: 'copy']
        container = 'r-fitness'
    }

    withName:graphFitness {
        publishDir = [path: "${params.outdir}/fitness", mode: 'copy']
        container = 'r-plot-fitness'
    }
}
